@using Microsoft.AspNetCore.Components.Web
@using Practica_Mercantil.Models
@using Practica_Mercantil.Services
@inject JsonFileWorkerService WorkerService

<table class="table table-bordered table-striped border-dark">
    <thead>
        <tr>
            <th>Tipo de documento</th>
            <th>Nro. de documento</th>
            <th>Nombres</th>
            <th>Sexo</th>
            <th>Departamento</th>
            <th>Provincia</th>
            <th>Distrito</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var worker in WorkerService.GetWorkers())
        {
                <tr>
                    <td>@worker.Tipo_documento</td>
                    <td>@worker.Nro_documento</td>
                    <td>@worker.Nombres</td>
                    <td>@worker.Sexo</td>
                    <td>@worker.Departamento</td>
                    <td>@worker.Provincia</td>
                    <td>@worker.Distrito</td>
                    <td>
                        <button class="btn btn-warning" @onclick="(e => EditWorker(worker.TrabajadorID))">Editar</button>
                        <button class="btn btn-danger" @onclick="(e => DeleteWorker(worker.TrabajadorID))">Eliminar</button>
                    </td>
                </tr>
        }
    </tbody>
</table>

@code {
    Trabajador selectedWorker;
    int selectedWorkerId;

    void EditWorker(int workerId)
    {
        selectedWorkerId = workerId;
        selectedWorker = WorkerService.GetWorkers().First(e => e.TrabajadorID == selectedWorkerId);
    }

    void DeleteWorker(int workerId)
    {
        selectedWorkerId = workerId;
        selectedWorker = WorkerService.GetWorkers().First(e => e.TrabajadorID == selectedWorkerId);
    }

    int currentRating = 0;
    int voteCount = 0;
}
